@font-face {
  font-family: "LINE Seed Sans KR";
  src: url("@kfonts/line-seed-sans-kr/LINESeedKR-Rg.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400 500;
}

@font-face {
  font-family: "LINE Seed Sans KR";
  src: url("@kfonts/line-seed-sans-kr/LINESeedKR-Bd.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600 700;
}
